body {
	font-size: 18px;
	margin: 0;
	padding: 0;
}

.splash img
{
	border-radius: 0px;
 	position: fixed; 
 	top: 0; 
 	left: 0;
 	z-index: -10; 
	
 	/* Preserve aspet ratio */
 	min-width: 100%;
 	min-height: 100%;
 	width: auto;
 	height: auto;
}

#header {
	position: absolute;
	top: 10%;
	float: left;
	width: 100%;
	font-size:2em;
	font-family: 'Poiret One', cursive;
	text-align: center;
}

#header a:link, #header a:visited, #header a:active {
	color: #aa0000;
}

#header .coming {
	font-size: 0.5em;
	margin-left: 0.1em;
	font-family: 'Press Start 2P', cursive;
}

.logo {
	width: 20%;
	max-width: 400px;
	margin-bottom: 1em;
	min-width: 250px;
}