<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} S</title>
  <link rel="stylesheet" href="css/styles.css" />
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
 
</head>
<body>
  <div id="main">

  	<div id="header">

      <img src="img/slogo.png" class="logo" />

  		<p><strong>S</strong> by <a href="http://www.johannesg.com">Jóhannes Gunnar Þorsteinsson</a> & <a href="http://kylehalladay.com">Kyle Halladay</a></p>

  		<p class="coming">Coming Summer 2013</p>

  	</div>

    <div class="content">
      {{ content }}
    </div>

  </div>
</body>
</html>